language: swift

osx_image: xcode10.1
env:
  matrix:
    - TEST_SDK=iphonesimulator12.1 OS=12.1 NAME='iPhone X'

script:
  - set -o pipefail && xcodebuild test -enableCodeCoverage YES -project ReAnimation.xcodeproj -scheme ReAnimation -sdk $TEST_SDK -destination "platform=iOS Simulator,OS=$OS,name=$NAME" ONLY_ACTIVE_ARCH=YES
